<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/static/display.css">
    <title>New Citation</title>
</head>

<body>
    <h1>Welcome!</h1>
    <a href="/add_citation">New Blank Citation</a>
    <a href="/add_wiki/url">New Wiki Citation</a>
    <hr>
    <div class="citations_list">
        {% for cit in citations %}
        <div class="citation_container">
            <div class="header_row">
                <h4>{{cit.title}}</h4>
                <p class="edit"><a href="/edit/{{cit.id}}">[edit]</a></p>
            </div>
            <div class="header_row">
                <small>Author: {{cit.author}} |</small>
                <small>Pubisher: {{cit.publisher}} |</small>
                <small>Year: {{cit.yr_published}} |</small>
                <small>Accessed: {{cit.yr_accessed}}</small>
            </div>
            <div class="summary_container">
                {% for sec in cit.sections %}
                <div class="section_container">
                    <div class="section_label">
                        <h5>{{sec.sec_title}}</h5>
                    </div>
                    <div class="section_content">
                        <p class="section_summary">{{sec.sec_summary}}</p>
                        <div class="entries_list">
                            {% for ent in sec.entries %}
                            <div class="entry_container">
                                <div class="entry_label">
                                    <h6>P{{ent.page_start}}:<small>{{ent.   paragraph_start}}</small> -
                                        P{{ent.page_stop}}:<small>{{ent.paragraph_stop}}</small></h6>
                                </div>
                                <p class="entry_content">{{ent.content}}</p>
                            </div>
                            {% endfor %}
                        </div>
                    </div>
                </div>
                {% endfor %}
            </div>
        </div>
        {% endfor %}
    </div>
    <!-- <ul>
        {% for cit in citations %}
        <li>
            <h6>{{cit.title}}</h6>
            <div class="row">
                <small class="p-2">{{cit.author}}</small>
                <small class="p-2"> | </small>
                <small class="p-2">{{cit.publisher}}</small>
                <small class="p-2"> | </small>
                <small class="p-2">{{cit.yr_published}}</small>
            </div>
            {% for sec in cit.sections %}
            <p>{{sec.sec_summary}}</p>
            <ul>
                {% for ent in sec.entries %}
                <div class="row">
                    <small>pg. {{ent.page_start}}--</small>
                    <small>pg. {{ent.page_stop}}</small>
                </div>
                <p>{{ent.content}}</p>
                {% endfor %}
            </ul>
            {% endfor %}
        </li>
        {% endfor %}
    </ul> -->
</body>

</html>