<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="index.css">
    <title>New Citation</title>
</head>

<body>
</body>
<form action="/">
    <div class="form_group">
        <input class="form_field" type="text" placeholder="Thing">
    </div>

    <div class="text_window">

        <h4 class="header col">Header</h4>
        <div class="info_row">
            <small>author</small>
            <small>publisher</small>
            <small>year</small>
        </div>

        <p class="text">Lorem ipsum dolor sit amet consectetur adipisicing elit. Nisi dolore fuga voluptatum iure soluta
            excepturi aspernatur, consectetur minus optio nemo id quos deserunt, asperiores iusto sequi eveniet mollitia
            adipisci blanditiis!</p>
    </div>


    <div class="window">

    </div>
</form>

</html>