<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/static/addForm.css">
    <title>New Citation</title>
</head>

<body>
    <form id="citation-form" action="/add_citation" method="POST" role="form">
        {{form.hidden_tag()}}
        <div class="form_line">
            <div class="form_group">
                <div class="form_field">{{form.title}}</div>
                <div class="form_label">{{form.title.label}}</div>
            </div>
            <div class="form_group">
                <div class="form_field">{{form.volume}}</div>
                <div class="form_label">{{form.volume.label}}</div>
            </div>
            <div class="form_group">
                <div class="form_field">{{form.edition}}</div>
                <div class="form_label">{{form.edition.label}}</div>
            </div>
        </div>
        <div class="form_line">
            <div class="form_group">
                <div class="form_field">{{form.author}}</div>
                <div class="form_label">{{form.author.label}}</div>
            </div>
            <div class="form_group">
                <div class="form_field">{{form.publisher}}</div>
                <div class="form_label">{{form.publisher.label}}</div>
            </div>
            <div class="form_group">
                <div class="form_field">{{form.yr_published}}</div>
                <div class="form_label">{{form.yr_published.label}}</div>
            </div>
        </div>
        <div class="form_line">
            <div class="form_group">
                <div class="form_field">{{form.lccn}}</div>
                <div class="form_label">{{form.lccn.label}}</div>
            </div>
            <div class="form_group">
                <div class="form_field">{{form.yr_accessed}}</div>
                <div class="form_label">{{form.yr_accessed.label}}</div>

            </div>
            <div class="form_group">
                <div class="sum_label">{{form.summary_status.label}}</div>
                <div class="sum_field">{{form.summary_status}}</div>
            </div>
        </div>
        <div class="form_line">
            <div class="form_group">
                <div class="form_field">{{form.url}}</div>
                <div class="form_label">{{form.url.label}}</div>
            </div>
        </div>
        <hr>
        <div id="summary">



            {# Show all subforms #}
            <div id="secforms-container">
                <!---->
                {% for section_form in form.sections %}
                <div id="section-{{ loop.index0 }}" class="secform" data-index="{{ loop.index0 }}">
                    {{ section_form.sec_title.label }}
                    {{ section_form.sec_title }}

                    <a class="add_ent" href="#">Add Entry</a>

                    {# Show all subforms #}
                    <div id="entforms-container-{{ loop.index0 }}">
                        {% for entry in section_form.entries %}
                        <div id="section-{{ loop.index0 }}-entry-{{ loop.index0 }}" class="entform"
                            data-index="{{ loop.index0 }}">

                            {{ entry.page_start.label }}
                            {{ entry.page_start }}

                            {{ entry.paragraph_start.label }}
                            {{ entry.paragraph_start }}

                            {{ entry.page_stop.label }}
                            {{ entry.page_stop }}

                            {{ entry.paragraph_stop.label }}
                            {{ entry.paragraph_stop }}

                            {{ entry.content.label }}
                            {{ entry.content }}

                            {% for tag in entry.tags %}
                            <p>{{tag.name.label}}</p>
                            {% endfor %}

                            <a class="remove_ent" href="#">Remove</a>
                        </div>
                        {% endfor %}
                    </div>

                    {{ section_form.sec_summary.label }}
                    {{ section_form.sec_summary }}

                    <a class="remove_sec" href="#">Remove</a>
                </div>
                {% endfor %}
            </div>

            <a class="add_sec" href="#">Add Section</a>

            {% if form.errors %}
            {{ form.errors }}
            {% endif %}

            {# Show submitted data #}
            {% if data is defined %}
            <p>
                Received data:
                {{ data }}
            </p>
            {% endif %}
        </div>
        <button class="save_btn" type="submit">Save</button>
    </form>

    <!-- TEMPLATES -->

    <div id="section-^-entry-*" class="is-hidden" data-index="*">
        <label for="sections-^-entries-*-page_start">From Page</label>
        <input id="sections-^-entries-*-page_start" name="sections-^-entries-*-page_start" type="text" value="">

        <label for="sections-^-entries-*-paragraph_start">Paragraph</label>
        <input id="sections-^-entries-*-paragraph_start" name="sections-^-entries-*-paragraph_start" type="text"
            value="">

        <label for="sections-^-entries-*-page_stop">To Page</label>
        <input id="sections-^-entries-*-page_stop" name="sections-^-entries-*-page_stop" type="text" value="">

        <label for="sections-^-entries-*-paragraph_stop">Paragraph</label>
        <input id="sections-^-entries-*-paragraph_stop" name="sections-^-entries-*-paragraph_stop" type="text" value="">

        <label for="sections-^-entries-*-content">Entry</label>
        <input id="sections-^-entries-*-content" name="sections-^-entries-*-content" required="" type="text" value="">

        <a class="remove_ent" href="#">Remove</a>
    </div>

    <div id="section-^" class="is-hidden" data-index="^">

        <label for="sections-^-sec_title">Section Title</label>
        <input id="sections-^-sec_title" name="sections-^-sec_title" required="" type="text" value="">

        <a class="add_ent" href="#">Add Entry</a>

        <div id="entforms-container-^" class="entforms-cont">

        </div>

        <label for="sections-^-sec_summary">Section Summary</label>
        <input id="sections-^-sec_summary" name="sections-^-sec_summary" required="" type="text" value="">

        <a class="remove_sec" href="#">Remove</a>
    </div>

    <!-- SCRIPTS -->
    <script src="/static/newCitation.js"></script>
</body>

</html>