<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://unpkg.com/bootstrap/dist/css/bootstrap.css">
    <link rel="stylesheet" href="/static/style.css">
    <title>New Citation</title>
</head>

<body>
    <form method="POST" class="m-3">
        {% for err in form.errors %}
        <p class="alert alert-danger">{{err}}</p>
        {% endfor %}
        {{form.hidden_tag()}}
        <div class="form-inline">
            <div class="form-group">
                <div class="p-1">{{form.title.label}}</div>
                <div class="p-1">{{form.title}}</div>
            </div>
            <div class="form-group">
                <div class="p-1">{{form.volume.label}}</div>
                <div class="p-1">{{form.volume}}</div>
            </div>
            <div class="form-group">
                <div class="p-1">{{form.edition.label}}</div>
                <div class="p-1">{{form.edition}}</div>
            </div>
        </div>
        <div class="form-inline">
            <div class="form-group">
                <div class="p-1">{{form.author.label}}</div>
                <div class="p-1">{{form.author}}</div>
            </div>
            <div class="form-group">
                <div class="p-1">{{form.publisher.label}}</div>
                <div class="p-1">{{form.publisher}}</div>
            </div>
            <div class="form-group">
                <div class="p-1">{{form.yr_published.label}}</div>
                <div class="p-1">{{form.yr_published}}</div>
            </div>
        </div>
        <div class="form-inline">
            <div class="form-group">
                <div class="p-1">{{form.url.label}}</div>
                <div class="p-1">{{form.url}}</div>
            </div>
            <div class="form-group">
                <div class="p-1">{{form.lccn.label}}</div>
                <div class="p-1">{{form.lccn}}</div>
            </div>
        </div>
        <div class="form-inline">
            <div class="form-group">
                <div class="p-1">{{form.yr_accessed.label}}</div>
                <div class="p-1">{{form.yr_accessed}}</div>
            </div>
            <div class="form-group">
                <div class="p-1">{{form.summary_status.label}}</div>
                <div class="p-1">{{form.summary_status}}</div>
            </div>
        </div>
        <hr>
        <div id="sec_form" style="left: 10%; position:relative">
            <h4>Section</h4>
            <div id="entries">
                <div id="entry_container">
                    <div class="ent_form">
                        <h6>Entry</h6>
                        <div class="row m-2">
                            <div class="col row">
                                <div class="p-1 col">{{form.section_form.entry_form.page_start.label}}</div>
                                <div class="p-1 col ">{{form.section_form.entry_form.page_start(class_='en_p')}}</div>
                            </div>
                            <div class="col row">
                                <div class="p-1 col">{{form.section_form.entry_form.paragraph_start.label}}</div>
                                <div class="p-1 col">{{form.section_form.entry_form.paragraph_start(class_='en_p')}}
                                </div>
                            </div>
                            <div class="col row">
                                <div class="p-1 col">{{form.section_form.entry_form.page_stop.label}}</div>
                                <div class="p-1 col">{{form.section_form.entry_form.page_stop(class_='en_p')}}</div>
                            </div>
                            <div class="col row">
                                <div class="p-1 col">{{form.section_form.entry_form.paragraph_stop.label}}</div>
                                <div class="p-1 col">{{form.section_form.entry_form.paragraph_stop(class_='en_p')}}
                                </div>
                            </div>
                        </div>
                        <div class="m-2 sum">
                            <div class="p-1">{{form.section_form.entry_form.content.label}}</div>
                            <div class="p-1 sum">{{form.section_form.entry_form.content(class_='sum')}}</div>
                        </div>
                        <hr>
                    </div>
                </div>
                <h6 id="s1_entryBtn" class="btn ent_form">Add New Entry</h6>
            </div>

            <div class="m-2 sec_form_sum">
                <div class="p-1">{{form.section_form.sec_summary.label}}</div>
                <div class="p-1 sum">{{form.section_form.sec_summary(class_='sum')}}</div>
            </div>
            <hr>
        </div>
        <button>submit</button>
    </form>
    <hr>
    {{citations}}

    <!-- SCRIPTS -->
    <script src="/static/newCitation.js"></script>
</body>

</html>